@using Microsoft.AspNet.Identity
@using Ela_Kai_Pou.Entities.Extensions


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        if (User.IsInRole("Admin"))
        {
            <ul class="navbar-nav ms-auto">
                <li id="cart">
                    <a href="@Url.Action("Index","Cart", null)">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">@User.Identity.GetUserFirstName()</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li class="dropdown-item"><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
                            <li class="dropdown-item"><a href="@Url.Action("Index","Product", new { Area = "Admin"})">Admin Area</a></li>
                            <li class="dropdown-item"><a href="@Url.Action("ChangePassword","Manage", new { area = ""})">Change Password</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        }
        else
        {
            <ul class="navbar-nav ms-auto">
                <li id="cart">
                    @Html.Action("CountItems", "Cart")
                </li>
                <li class="nav-item dropdown">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">@User.Identity.GetUserFirstName()</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li class="dropdown-item"><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
                            <li class="dropdown-item"><a href="@Url.Action("Index","Order",null)">My orders</a></li>
                            <li class="dropdown-item"><a href="@Url.Action("ChangePassword","Manage",null)">Change Password</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        }
    }
}
else
{
    <ul class="navbar-nav ms-auto">
        <li id="cart">
            <i class="fas fa-shopping-cart" hidden></i>
        </li>
        <li class="nav-item dropdown">
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li class="dropdown-item">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "login" })</li>
                    <li class="dropdown-item">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "login" })</li>
                </ul>
            </div>
        </li>
    </ul>
}

